.container{
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}




.menu{
  display: flex;
  flex-direction: column;
  max-width:200px;
  gap: 20px;
}

.settings{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.settings::after {
  content: '';
  display: block;
  height: 3px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  position: absolute;
  bottom: -20px;
}


.startReset{
  display: flex;
  gap: 20px;
}

.form{
  display: flex;
  gap: 20px;
}
