
.container {
  display: flex;
  margin-top: 40px;
}

.selectRemovePanel,
.startStop {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 5px;
}

.car {
  display: flex;
  justify-content: center;
  align-self: center;
}
